<footer class="border-t border-slate-900 py-12 px-6">
  <div
    class="container-main flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <div class="flex items-center gap-3">
      <a class="text-2xl font-extrabold" href="/">VN.</a>
      <span class="text-slate-500 text-sm font-medium"
        >© 2026 Vallipriya Nainapatruni. Built with precision.</span
      >
    </div>
    <div class="flex gap-8">
      <a
        class="text-slate-500 hover:text-primary transition-colors text-sm"
        href="https://github.com/vallipriya-1432"
        target="_blank">GitHub</a
      >
            <a
        class="text-slate-500 hover:text-primary transition-colors text-sm"
        href="https://www.linkedin.com/in/vallipriyan/"
        target="_blank">LinkedIn</a
      >
    </div>
  </div>
</footer>
